registry=https://registry.npm.taobao.org/
@attonex-private:registry=https://pkgs.dev.azure.com/Attonex/_packaging/Attonex/npm/registry/
//pkgs.dev.azure.com/Attonex/_packaging/Attonex/npm/registry/:username=develop
//pkgs.dev.azure.com/Attonex/_packaging/Attonex/npm/registry/:_password=eGVmcjN1cnpldWRmZW83ejZseXM1djd5a2RuNTJjZHAzYWhzbW1rMjc3N3h2Mjdqc3V3YQ==
//pkgs.dev.azure.com/Attonex/_packaging/Attonex/npm/registry/:email=stark.shang@outlook.com
